In [2]:
import pandas as pd
import numpy as np

In [3]:
prices = pd.Series([1,1,2,3,5], index = ['apple', 'pear', 'banana', 'mango', 'jackfruit'])

In [4]:
prices

apple        1
pear         1
banana       2
mango        3
jackfruit    5
dtype: int64

In [5]:
prices.describe()

count    5.00000
mean     2.40000
std      1.67332
min      1.00000
25%      1.00000
50%      2.00000
75%      3.00000
max      5.00000
dtype: float64

In [6]:
prices.loc['apple']

1

In [7]:
prices.iloc[1:3]

pear      1
banana    2
dtype: int64

In [8]:
prices.iloc[0:3]

apple     1
pear      1
banana    2
dtype: int64

In [9]:
prices.loc['banana':]

banana       2
mango        3
jackfruit    5
dtype: int64

In [10]:
numeric_labeled = pd.Series(range(10,50,10), index = range(3,7))

In [11]:
numeric_labeled

3    10
4    20
5    30
6    40
dtype: int64

In [12]:
numeric_labeled[3]

10

In [13]:
numeric_labeled.iloc[3]

40

In [14]:
inventory = pd.Series([10,50,41,22], index = ['pear', 'banana', 'mango', 'apple'])

In [15]:
inventory

pear      10
banana    50
mango     41
apple     22
dtype: int64

In [16]:
inventory * prices

apple         22.0
banana       100.0
jackfruit      NaN
mango        123.0
pear          10.0
dtype: float64

In [17]:
nonunique_inventory = pd.Series([10,50,41,22,50], index = ['pear', 'banana', 'mango', 'apple', 'apple'])

In [18]:
nonunique_inventory

pear      10
banana    50
mango     41
apple     22
apple     50
dtype: int64

In [19]:
nonunique_inventory * prices

apple         22.0
apple         50.0
banana       100.0
jackfruit      NaN
mango        123.0
pear          10.0
dtype: float64

In [20]:
inventory >= 20

pear      False
banana     True
mango      True
apple      True
dtype: bool

In [21]:
prices.mean()

2.4

In [22]:
prices.std()

1.6733200530681511

In [23]:
prices.median()

2.0

In [24]:
discount_prices = prices.apply(lambda x: .9 * x if x > 3 else x)

In [25]:
discount_prices

apple        1.0
pear         1.0
banana       2.0
mango        3.0
jackfruit    4.5
dtype: float64

In [26]:
s = prices.values

In [27]:
x = list(filter(lambda x: x%2 == 0, s))

In [28]:
x

[2]

In [29]:
y = list(map(lambda x: x%2 == 0, s))

In [30]:
y

[False, False, True, False, False]

In [31]:
prices = pd.Series([1,1,2,3,5],
              index=['apple', 'pear', 'banana', 'mango', 'jackfruit'])

inventory = pd.Series([10, 50, 41, 22],
              index=['pear', 'banana', 'mango', 'apple'])
aligned = prices * inventory
one_ind = inventory.iloc[1:4:2]
two_less = prices.loc[lambda x: x < prices.mean()]
three_onhand = aligned.loc['mango']

In [32]:
inventory

pear      10
banana    50
mango     41
apple     22
dtype: int64

In [33]:
prices

apple        1
pear         1
banana       2
mango        3
jackfruit    5
dtype: int64

In [34]:
aligned

apple         22.0
banana       100.0
jackfruit      NaN
mango        123.0
pear          10.0
dtype: float64

In [35]:
one_ind

banana    50
apple     22
dtype: int64

In [36]:
prices.mean()

2.4

In [37]:
two_less

apple     1
pear      1
banana    2
dtype: int64

In [38]:
three_onhand

123.0

In [39]:
one_ind = inventory[1::2]
two_less = prices.loc[prices < prices.mean()]
three_onhand = (prices * inventory).loc['mango']

In [41]:
prices.values

array([1, 1, 2, 3, 5])