In [1]:
# SELECT name, city, state, purchases.id, date
# FROM customers
# JOIN purchases
# ON customers.id = purchases.custid;

## Table aliases

Notice that you specify purchases.id in the SELECT clause. This is to disambiguate between the id field in the customers table and the id field in the purchases table. Since name, city, state and date each only appear in one of the joined tables, you do not need to specify the tables. However, there is no harm in including the table names; SELECT customers.name, customers.city, customers.state, purchases.id, purchases.date with return exactly the same results. On the one hand, this takes longer to type; on the other, it makes it much more clear where each piece of information is coming from.

A happy medium, especially as queries get longer, is to give each table a short alias. Using aliases, you could write the same query like this:

In [2]:
# SELECT cu.name, cu.city, cu.state, pu.id, pu.date
# FROM customers cu
# JOIN purchases pu
# ON cu.id = pu.custid;

In [4]:
# SELECT cu.name, cu.city, cu.state, pu.id, pu.date
# FROM customers cu
# LEFT JOIN purchases pu
# ON cu.id = pu.custid;


# SELECT cu.name, cu.city, cu.state, pu.id, pu.date
# FROM customers cu
# RIGHT JOIN purchases pu
# ON cu.id = pu.custid;


# CREATE TABLE activities (
#     activity VARCHAR(21) PRIMARY KEY,
#     location VARCHAR(21),
#     attime TIME
#   );

# CREATE TABLE campers (
#     name VARCHAR(21) PRIMARY KEY,
#     cabin VARCHAR(21),
#     activity VARCHAR(21)
#   );

# INSERT INTO activities VALUES
#   ('woodworking', 'shop', '15:00:00'),
#   ('waterskiing', 'lake',  '14:00:00' ),
#   ('arts and crafts', 'lodge',  '12:00:00' ),
#   ('hiking', 'lawn',  '09:00:00' ),
#   ('swimming', 'lake',  '14:00:00' ),
#   ('chess', 'lodge',  '11:00:00' );

# INSERT INTO campers VALUES
#   ('Zort', 'Pinecone', 'woodworking'),
#   ('Bort', 'Magnolia', 'reading'),
#   ('Short', 'Pinecone', 'arts and crafts'),
#   ('Lort', 'Acorn', 'nap'),
#   ('Kort', 'Bluebell', 'hiking'),
#   ('Flort', 'Acorn', 'woodworking'),
#   ('Mort', 'Pinecone', 'waterskiing');

In [5]:
# SELECT cp.name, cp.cabin, ac.location, ac.attime
# FROM campers cp
# JOIN activities ac
# ON cp.activity = ac.activity;

# SELECT cp.name, cp.cabin, ac.location, ac.attime
# FROM campers cp
# LEFT JOIN activities ac
# ON cp.activity = ac.activity;

# SELECT cp.name, cp.cabin, ac.location, ac.attime
# FROM activities ac
# LEFT JOIN campers cp
# ON cp.activity = ac.activity;

## Multiple Joins

In a star schema, it will often be necessary to perform multiple joins in a single query, since the fact table acts as an intermediary between all the other tables.

Returning to the sales database, how can you get a list of all customers who have placed orders, along with the product they ordered? You already know how to see all the customers and their orders:

In [6]:
# SELECT cu.name, cu.city, cu.state, pu.id, pu.date
# FROM customers cu
# JOIN purchases pu
# ON cu.id = pu.custid;


# SELECT cu.name, cu.city, cu.state, pu.id, pu.date, pu.prodid
# FROM customers cu
# JOIN purchases pu
# ON cu.id = pu.custid;


# SELECT cu.name as customer,
#        cu.city,
#        cu.state,
#        pu.id as purchase_id,
#        pu.date,
#        pr.name as product_name,
#        pr.id as product_id
# FROM customers cu
# JOIN purchases pu
# ON cu.id = pu.custid
# JOIN products pr
# ON pu.prodid = pr.id;

1. Using the animalshp database, return a table showing the name and appearance of every pet. Order by pet name.

In [7]:
# join_pets = '''
# SELECT pe.name, an.appearance
# FROM pets pe
# JOIN animals an
# ON an.species = pe.species
# ORDER BY pe.name;
# '''

In [8]:
# join_pets = '''
# select pt.name, an.appearance
#     from pets pt
#     join animals an
#     on pt.species = an.species
#     order by pt.name;
# '''