In [1]:
# SELECT mycolumn FROM mytable WHERE anothercol IS NULL;

In [3]:
# SELECT name
# FROM mytable
# WHERE price > 100
# ORDER BY name;


# SELECT
#     name,
#     SUM(price) as total_price,
#     COUNT(1)
# FROM mytable
# GROUP BY name;


# SELECT
#     a.name,
#     a.price
# FROM mytable a
# JOIN anothertable b
# ON
#     a.item_id = b.item_id AND
#     a.price > 100 AND
#     b.dept='shoes';
    

# SELECT *
# FROM products
# WHERE price = (SELECT MAX(price) FROM products WHERE dept = 'shoes')
# ORDER BY name


# SELECT *
# FROM products
# WHERE price =
#       (SELECT MAX(price)
#        FROM products
#        WHERE dept = 'shoes' )
# ORDER BY name;

In [4]:
# SELECT
#     co.name,
#     co.population as country_pop,
# count
#     (ct.population)
# as
#     num_cities,
# print
#     f("%.2f", avg(ct.population))
# as
#     avg_city_pop
# FROM
#     city ct
# JOIN
#     country co
# on
#     ct.countrycode = co.code
# GROUP BY
#     ct.countrycode
# having
#     num_cities > 5
# order by
#     avg_city_pop limit 10;

In [5]:
# SELECT co.name,
#         co.population as country_pop,
#         COUNT(ct.population) as num_cities,
#         printf("%.2f", avg(ct.population)) as avg_city_pop
# FROM city ct
# JOIN country co
# ON ct.countrycode = co.code
# GROUP BY ct.countrycode
# HAVING num_cities > 5
# ORDER BY avg_city_pop
# LIMIT 10;