1. As you begin exploring the city table from the world database, a place to start is to determine how many cities are in the table. Write a query that returns this value.

In [1]:
# cities = '''SELECT COUNT(name) FROM city;
# '''

In [2]:
# SELECT Count(*) FROM city;

2. A natural thing to wonder about these cities is how they are distributed around the world. To start with this topic, write a query to return the countrycode and count of cities in that country for only the country with the most cities in the city table.

In [3]:
# countrycode_citycount = '''SELECT countrycode, COUNT(name)
# FROM city
# GROUP BY countrycode
# ORDER BY COUNT(name) DESC
# LIMIT 1;
# '''

# # '''SELECT countrycode, MAX(count) FROM (SELECT countrycode, count(*) as count FROM city GROUP BY countrycode);
# # '''

In [5]:
# SELECT countrycode, Count(*) AS cnt
# FROM city
# GROUP BY countrycode
# ORDER BY cnt DESC
# LIMIT 1;

You could look at the number of cities per country to try to get a sense about cities all over the world, but since there are several hundred countries this is not easily digestible. Instead, look at the counts of cities per continent. Write a query that returns each continent and the number of cities in that continent. Be sure that each city in the city table is included in the counts from your query.

Hint: A good way to check if each city is included in this query is to look at the total of the counts from your query and see if this number matches the result you got from the first query you wrote above. Try testing this on your local machine.

Another Hint: If you got counts back, but their total doesn't match the results from the first query of the checkpoint, you probably realized a join is required here. What type of join ensures that all cities are included in the results?

In [6]:
# continent_citycount = '''
# SELECT co.continent, COUNT(ci.name)
# FROM city ci
# LEFT JOIN country co
# ON ci.countrycode = co .code
# GROUP BY co.continent
# ORDER BY COUNT(ci.name) ASC;
# '''

# # '''SELECT continent FROM country JOIN (SELECT count(id) FROM city) ON code=countrycode;
# # '''

In [7]:
# SELECT continent, Count(*)
# FROM city
# LEFT JOIN country
# ON city.countrycode = country.code
# GROUP BY continent;