Opening a sqlite session
For this unit, you'll be interacting with SQL using SQLite. SQLite3 comes standard on OS X 10.4 and up; if you are using Ubuntu, follow these  installation instructions.

To start, open a terminal session and navigate to the directory where you would like to store your database. Create a database file by entering the command touch sales.db. This will create an empty file.

Next, connect to the database through SQLite by entering sqlite3 sales.db. This will drop you into a SQLite session.

## Creating tables

Right now, your database is empty. Before you can store anything, you need to create a table.

Enter the following at the *sqlite > prompt*:

In [6]:

# CREATE TABLE customers (
#         id INTEGER PRIMARY KEY,
#         name VARCHAR(50),
#         birthyear INTEGER,
#         city VARCHAR(50),
#         state VARCHAR(2));

Here's a walk-through each line of this command:

* CREATE TABLE customers ( Create a table and call it customers. You are connected to the sales database, so this table will be part of that database.

* id INTEGER PRIMARY KEY, Create a field called id of datatype INTEGER and designate it as the PRIMARY KEY.

* name VARCHAR(50), Create a field called name of datatype VARCHAR (an alias for CHARACTER VARYING, for varying length) and limit its length to 50 characters.

* birthyear INTEGER, Create a field called birthyear of datatype INTEGER.

* city VARCHAR(50), Create a field called city of datatype VARCHAR and limit its length to 50 characters.

* state VARCHAR(2)); Create a field called state of datatype VARCHAR and limit its length to 2 characters. The second ) closes the parenthetical that was opened in line 1. Entering a value longer than 2 characters (50 characters in the case of name and city) will throw an error. Refer to this  document for an explanation of the difference between CHAR and VARCHAR types.

At this point, you have one table with no data. There's not much to see, but you can check to be sure you created the table successfully by typing in .tables. This will show you all tables in the current database. For now, you should just see customers.

You need two more tables to complete your schema, products and purchases. Enter this into SQLite:

In [7]:

# CREATE TABLE products (
#     id INTEGER PRIMARY KEY,
#     name VARCHAR(50),
#     price NUMERIC(6, 2));

# CREATE TABLE purchases (
#     id INTEGER PRIMARY KEY,
#     custid INTEGER REFERENCES customers(id),
#     prodid INTEGER REFERENCES products(id),
#     quantity INTEGER,
#     date DATE);

Most of this should look familiar, but you have a couple new terms.

* price NUMERIC(6, 2)); What you generally call a float can be represented in SQLite with a NUMERIC type. The arguments are precision (the total number of digits allowed) and scale (the total number of digits allowed after the decimal point), respectively.

* custid INTEGER REFERENCES customers(id), establishes custid as a foreign key that refers back the id column of the customers table. The same applies to prodid and the product table.

* date DATE); The DATE type is stored as a uniform format, but can be displayed in many different configurations. You can read more about the DATE type here.

Check *.tables* one more time. You should now see a list of all three tables you've created.

## Manually entering data

You can enter any number of rows into a table using the commend INSERT INTO tablename VALUES

Entering one complete row
If you enter a value for each column in your table, they'll be filled in that order.

Insert the first row of your customers table like this:

In [8]:

# INSERT INTO customers VALUES
#     (1001, 'Polly', 1952, 'San Francisco', 'CA');

Unlike most SQL dialects, SQLite doesn't show headers (column names) by default. You can turn this feature on by entering *.headers ON*.

about how to turn this feature on permanently.) You can also improve the readability by going into column mode with the command *.mode column*.

## Loading data from a SQL file

Here's a more streamlined approach to populating the rest of the sales database by loading the data from a sql file. Download the sales.sql  file and put it in the same directory as *sales.db*. Then enter the following command in your SQLite session:

In [9]:

# .read sales.sql

While you can declare a field as a BOOLEAN type, SQLite treats it as a standard NUMERIC. If you would like to restrict the values that can be entered to 0 and 1, you can declare a check:

In [10]:
# CREATE TABLE random (
#             id INTEGER PRIMARY KEY,
#             is_true BOOLEAN CHECK(is_true = 0 or is_true = 1)
#             );