In [69]:
import pandas as pd
import numpy as np

In [70]:
prices = pd.Series([1,1,2,3,5], index = ['apple', 'pear', 'banana', 'mango', 'jackfruit'])

In [71]:
prices

apple        1
pear         1
banana       2
mango        3
jackfruit    5
dtype: int64

In [72]:
prices.describe()

count    5.00000
mean     2.40000
std      1.67332
min      1.00000
25%      1.00000
50%      2.00000
75%      3.00000
max      5.00000
dtype: float64

In [73]:
prices.loc['apple']

1

In [74]:
prices.iloc[1:3]

pear      1
banana    2
dtype: int64

In [75]:
prices.iloc[0:3]

apple     1
pear      1
banana    2
dtype: int64

In [76]:
prices.loc['banana':]

banana       2
mango        3
jackfruit    5
dtype: int64

In [77]:
numeric_labeled = pd.Series(range(10,50,10), index = range(3,7))

In [78]:
numeric_labeled

3    10
4    20
5    30
6    40
dtype: int64

In [79]:
numeric_labeled[3]

10

In [80]:
numeric_labeled.iloc[3]

40

In [81]:
inventory = pd.Series([10,50,41,22], index = ['pear', 'banana', 'mango', 'apple'])

In [82]:
inventory

pear      10
banana    50
mango     41
apple     22
dtype: int64

In [83]:
inventory * prices

apple         22.0
banana       100.0
jackfruit      NaN
mango        123.0
pear          10.0
dtype: float64

In [84]:
nonunique_inventory = pd.Series([10,50,41,22,50], index = ['pear', 'banana', 'mango', 'apple', 'apple'])

In [85]:
nonunique_inventory

pear      10
banana    50
mango     41
apple     22
apple     50
dtype: int64

In [86]:
nonunique_inventory * prices

apple         22.0
apple         50.0
banana       100.0
jackfruit      NaN
mango        123.0
pear          10.0
dtype: float64

In [87]:
inventory >= 20

pear      False
banana     True
mango      True
apple      True
dtype: bool

In [88]:
prices.mean()

2.4

In [89]:
prices.std()

1.6733200530681511

In [90]:
prices.median()

2.0

In [91]:
discount_prices = prices.apply(lambda x: .9 * x if x > 3 else x)

In [92]:
discount_prices

apple        1.0
pear         1.0
banana       2.0
mango        3.0
jackfruit    4.5
dtype: float64

In [93]:
s = prices.values

In [94]:
x = list(filter(lambda x: x%2 == 0, s))

In [95]:
x

[2]

In [96]:
y = list(map(lambda x: x%2 == 0, s))

In [97]:
y

[False, False, True, False, False]

In [108]:
prices = pd.Series([1,1,2,3,5],
              index=['apple', 'pear', 'banana', 'mango', 'jackfruit'])

inventory = pd.Series([10, 50, 41, 22],
              index=['pear', 'banana', 'mango', 'apple'])
aligned = prices * inventory
one_ind = inventory.iloc[1:4:2]
two_less = prices.loc[lambda x: x < prices.mean()]
three_onhand = aligned.loc['mango']

In [114]:
inventory

pear      10
banana    50
mango     41
apple     22
dtype: int64

In [115]:
prices

apple        1
pear         1
banana       2
mango        3
jackfruit    5
dtype: int64

In [110]:
aligned

apple         22.0
banana       100.0
jackfruit      NaN
mango        123.0
pear          10.0
dtype: float64

In [116]:
one_ind

banana    50
apple     22
dtype: int64

In [118]:
prices.mean()

2.4

In [112]:
two_less

apple     1
pear      1
banana    2
dtype: int64

In [113]:
three_onhand

123.0

In [121]:
one_ind = inventory[1::2]
two_less = prices.loc[prices < prices.mean()]
three_onhand = (prices * inventory).loc['mango']