1. Use the WHERE clause to show the appearance of rats. You should return your query as a string assigned to the variable one_where, as follows:

In [1]:
# one_where = '''
# SELECT appearance FROM animals WHERE species = 'rat';
# '''

In [2]:
# one_where = '''
# SELECT appearance
# FROM animals
# WHERE species = "rat"
# '''

2. Use IN to show the species for animals with vertebrate_class 'mammal' and 'amphibian'. Return your query as:

In [3]:
# two_in = '''
# SELECT species FROM animals WHERE vertebrate_class IN ('mammal', 'amphibian');
# '''

In [4]:
# two_in = '''
# SELECT species
# FROM animals
# WHERE vertebrate_class IN ('mammal', 'amphibian');
# '''

3. Use BETWEEN to show species that have at least 1 leg, but no more than than 3 legs.

In [5]:
# three_between = '''
# SELECT species FROM animals WHERE num_legs BETWEEN 1 AND 3;
# '''

In [6]:
# three_between = '''
# SELECT species
# FROM animals
# WHERE num_legs
# BETWEEN 1 and 3;
# '''

4. Use LIKE to show species that have an appearance that starts with 'f'.

In [8]:
# four_like = '''
# SELECT species FROM animals WHERE appearance LIKE 'f%';
# '''

In [9]:
# four_like = '''
# SELECT species
# FROM animals
# WHERE appearance
# LIKE "f%";
# '''